<mat-toolbar>
  <span>FAQ</span>
  <input id="input" [(ngModel)]="name" matInput>
  <button mat-button (click)="onLoginClick()">Login</button>
</mat-toolbar>


<img @fade id="wlc" src="./assets/img/wlc.png" class="center">

<div id="loginname"  >
  <p><i><font size="+16">{{ name }}</font></i></p>
</div>

<mat-accordion>
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header @rotate>
        {{ post.name }}
      </mat-expansion-panel-header>
      {{ post.content }}
    </mat-expansion-panel>
</mat-accordion>
